#header-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: transparent;
  padding: 24px 64px;
  z-index: 1000;
  width: 100%;
}

#links-mobile-container {
  display: none;
}

#links-container {
  display: flex;
  gap: 2.4rem;
  list-style-type: none;
  padding: 0;
  height: 100%;
  align-items: center;
}

#title-logo {
  font-family: var(--secondary-font);
  font-size: 3.2rem;
  text-align: center;
  line-height: 0.8;
}

.nav-icon {
  width: 35px;
  height: 35px;
  stroke: var(--primary);
  stroke-width: 2px;
}

.nav-button {
  display: none;
}

@media (max-width: 768px) {
  #header-container {
    padding: 24px 32px
  }

  #links-container {
    display: none;
  }

  .secondary-button.book-now {
    display: none;
  }

  .links-mobile-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    list-style-type: none;
    box-sizing: borde-box;
    gap: 32px;
  }

  ul.links-mobile-container a {
    display: block;
    font-size: 1.6rem;
    color: var(--white);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 1rem;
  }

  .nav-book-now {
    display: block;
    color: var(--white);
    border: none;
    background-color: var(--primary);
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .nav-button {
    display: block;
    background-color: transparent;
    border: none;
  }
}
