#header-container {
  grid-area: navbar;
  box-sizing: border-box;
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: transparent;
  padding: 0 64px;
  z-index: 1000;
  width: 100%;
}

#links-container {
  display: flex;
  gap: 2.4rem;
  list-style-type: none;
  padding: 0;
}

#title-logo {
  font-family: var(--secondary-font);
  font-size: 3.2rem;
  text-align: center;
  line-height: 0.8;
}
