#home-container {
  position: absolute;
  background-image: url("../assets/hero-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

#items-home-container {
  height: 100%;
  position: relative;
  max-width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: var(--secondary-font);
  font-size: 3rem;
  transform: none;
  font-weight: 400;
  font-size: clamp(1.6rem, 5vw, 2.4rem);
  z-index: 3;
}

.big-letter-home {
  font-weight: 400;
  line-height: 0.9;
}

.primary-button.scissors-icon::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--white);
  mask-image: url("../assets/scissors-icon.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: url("../assets/scissors-icon.svg");
  -webkit-mask-size: contain;
}

.button-hero-container {
  display: flex;
  padding: 40px 0;
  gap: .6rem;
  align-items: center;
}

@media (max-width: 425px) {
  .button-hero-container {
    flex-direction: column;
    padding: 12px 0;
  }
}
