.buttonGallery {
  font-family: var(--text-secondary);
  font-size: 1rem;
  border: none;
  word-spacing: 1.2rem;
  background-color: transparent;
}

.img-gallery {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .img-gallery {
    padding: 0 4.5rem;
  }
}

@media (max-width: 425px) {
  .img-gallery {
    padding: 0 .7rem;
    width: 100%;
    height: 200px;
  }
}
