@import "./styles/header.css";
@import "./styles/home.css";
@import "./styles/serviceCard.css";
@import "./styles/service.css";
@import "./styles/team.css";
@import "./styles/gallery.css";

:root {
  --bg: #111111;
  --bg-secondary: #f2f4f3;
  --golden-darker: #c99244;
  --sandy-clay: #d9af75;
  --primary: var(--golden-darker);
  --secondary: var(--sandy-clay);
  --text: var(--golden-darker);
  --text-secondary: black;
  --white: white;
  --primary-font: "Roboto Condensed", sans-serif;
  --secondary-font: "Lora", serif;

  background-color: var(--bg);
  color: var(--text);
  font-family: var(--primary-font);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  /* TODO: add a radial-gradient/background pattern */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* IMPORTANT for extra borders FIX */
  width: 100%;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* IMPORTANT for extra borders FIX */
  width: 100%;
}

#main {
  grid-area: main;
}
